* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* applies background color to whole body section of code */
body {
    background-color: #d9dcd6;
}

.body {
    font-family: sans-serif;
    margin: 100px;
  }

  /* .header Tag used to manipulate the top portion of the page */
  /* Sets background color and controls for Header of page */
.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #154f6b;
    color: #fffffff1;
    position: relative;
}

.header h2 {
    font-family: "Lucida Console", Monaco, monospace;
    display: flex;
    font-size: 60px;
    flex-wrap: wrap;
    line-height: 120px;
    position: relative;
    padding-left: 30px;
    margin-right: auto;
}

/* sub tag of .seo used to change the 3 letters in Horiseon to display as a different color for its significance as an abreviation for Search Engine Optimization */
.header h2 .seo {
    color: #d9dcd6e7;
}

.header div {
    padding-top: 30px;
    margin-right: 10px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: absolute; top: 0; right: 0;
}

.header div ul {
    list-style-type: none;
    position: relative;
    justify-content: space-between;
    margin-top: 15px;
}

.header div ul li {
    display: inline-block;
    margin-left: auto;
    margin-bottom: 100px;
    position: relative;
}

/* hero tag is used to implement a photo spacing between the main header and the body of the page, insertion of a background image and position control with the  */
.hero {
    width: 100%;
    height: 1600px;
    margin-bottom: 25px;
    background-image: url("./assets/images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* tag a is used to adress specifically the UL Li used on the top right of the page, giving it control and appealing spacing for the user */
a {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    margin-right: 50px;
}

/* tag p is used to achieve edits for all paragraph tags used in the html, while some individual elements have varying context due to the specific nature of the code */
p {
    overflow-wrap: break-word; 
    text-align: left;
    font-size: 21px;
    margin: 10px;
    margin-right: 150px;
    word-spacing: 2px;
    font-style: normal;
    font-family: Lucida, Sans Unicode;
    position: relative;
}

/* float-left is used to address the top and bottom section in which follow similar alignment criteria 
as well as a float left for control of the space */
.float-left {
    float: left; 
    margin-left: 20px;
    width: 300PX;
}

/* float-right provides the 3 set of alignment criteria for the middle section giving a float right for the variable */
.float-right {
    float: right;
    margin-left: 20px;
    width: 300PX;
}
/* Content header is used for the (3) main segment blocks */
/* use of margin-right & -left to allow the spacing of the items to fit within the entire page without overlap */
.content {
    width: 70%;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}

.content h2 {
    position: relative;
    justify-content: space-between; 
    overflow-wrap: break-word;
}

/* 1st subgroup of "Content", applies to whole segment of .search-engine-optimization  */
/* provided heigh of the object, padding, and margin for control of the box with regard to whole site */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 400px;
    font-stretch: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 300px;
    height: 280px;
    width: 400px;
    margin: 10px;
}

.search-engine-optimization h2 {
    overflow-wrap: break-word;
    margin-left: 450px;
    margin-bottom: 20px;
    font-size: 42px;
    width: 800px;
    max-width: 550px;
}

.search-engine-optimization p {
    margin-left: 450px;
    inline-size: 900px;
    max-width: fit-content;
    overflow-wrap: break-word;
}

/* .online-reputation-management used to specific middle section of main segments. providing controls specific to .online-reputation-management past the base code posed above for the entirety of the image, H2, & P */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management img {
    max-height: 300px;
    height: 280px;
    width: 450px;
    margin: 10px;
}

.online-reputation-management h2 {
    inline-size: 500px;
    overflow-wrap: break-word;
    margin-bottom: 20px;
    font-size: 42px;
}

/* setting margin of paragraph to right to control */
.online-reputation-management p {
    margin-right: 45%;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* max heigh set and standard height and width with an overall margin of 10px */
.social-media-marketing img {
    max-height: 300px;
    height: 280px;
    width: 400px;
    margin: 10px;
}

.social-media-marketing h2 {
    overflow-wrap: break-word;
    margin-left: 450px;
    margin-bottom: 20px;
    font-size: 42px;
    width: 800px;
    max-width: 550px;
}

/* setting margin on the left, size of the text with inline-size, max width to fit content and break-word overflow-wrap for control */
.social-media-marketing p {
    margin-left: 450px;
    inline-size: 900px;
    max-width: fit-content;
    overflow-wrap: break-word;
}

/* .benefits tag utilizes various commands to control the segment and hold the block with (3) elements to the right of the "Content" tag */
.benefits {
    margin-right: 30px;
    padding: 40px;
    clear: both;
    float: right;
    width: 25%;
    height: 1275px;
    font-family: Georgia, 'Times New Roman', Times, serif ,sans-serif,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    background-color: #2589bd;
    align-items: center;
}

/* tags applied specifically to the benefits paragraphs for control within the block */
.benefits p {
    word-spacing: 1px;
    width: 360px;
    margin-left: 10%;
    margin-right: 10%;
}

/* .benefits-lead is targetting 1 segment of code within the benefits segment
   providing color and margin and padding for the bottom segment to control the spacing between sections. */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
    padding-bottom: 20px;
}

/* setting font size, margin for the bottom, & aligning text to center */
.benefit-lead h3 {
    font-size: 23px;
    margin-bottom: 10px;
    text-align: center;
}

/* Use of max-width and height/width variables to keep benefits block consistent with its provided space */

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 250px;
}

/* setting color of tag, provides padding for bottom and a margin for bottom */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
    padding-bottom: 20px;
}

/* setting font size, margin for the bottom, & aligning text to center */
.benefit-brand h3 {
    font-size: 23px;
    margin-bottom: 10px;
    text-align: center;
}

/* setting an automatic margin on the image to keep it from overlapping. Set max-width to restrict if page is zoomed */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 250px;
}

/* last section of the benefits class / lowest on the right segment. showing control for the -cost segments all together then for h3 & the image */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
    padding-bottom: 20px;
}

/* setting font size, margin for the bottom, & aligning text to center */
.benefit-cost h3 {
    font-size: 23px;
    margin-bottom: 10px;
    text-align: center;
}

/* setting an automatic margin on the image to keep it from overlapping. Set max-width to restrict if page is zoomed */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 250px;
}
/* commented out the footer due to the lack of presence in the display example.
   used display: none; to acheive hidden variables without removing HTML code */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display: none;
}
